.h-20 {
  height: 20%;
}
.w-6 {
  width: 6%;
  height: fit-content;
}

.post {
  display: flex;
  width: 300px;
  min-width:300px;
  flex-shrink: 0;
  
  
}
.post img{
    object-fit: cover;
    width: 40px;
    min-width: 40px;
    margin-bottom: 10px;
    flex-shrink: 0;

}
.post-follow {
  width: 5px;
}
.icons {
  margin: 5px;
}

.following {
  animation: fade 4s infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.icon-box:hover .pop-icons {
  display: block;
}
.pop-icons {
  display: none;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 0px;
  margin-top: 60px;
  margin-left: 10px;
  position: absolute;
  padding-left: 30px;
}
.story-item {
  display: flex; 
  width: 70px;
  min-width: 70px;
  flex-shrink: 0;
}

.story-loader {
  display: flex;
  width: 70px;
  min-width: 70px;
  flex-shrink: 0;
  height: 70px;
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}
.story {
  position: relative;
  width: 100%;
  min-width: 100%;
  padding: 15px;
}

.story-container {
  display: flex;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  flex-shrink: 0;
  
}

.story-arrow,
.story-arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.979);
  padding: 2px 2px;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
}
.story-arrow {
  right: 5px;
 
}
.story-arrow-left {
  left: 5px;
 
}



.sug-dp{    
    width:50px;
    height:50px;
    object-fit: cover;
}

.sugstImage{
    height: 45px;
    width: 45px;
    object-fit: cover;
    
}
.sugtcontainer{
    width: 300px;
    font-size: 15px;
   
}
.sugt-container h6 {
    font-size: 16px;
}
.username{
    font-size: 13px;
    padding: 2px;
}
